@import url("normalize.css");

:root {
  --color-primary: #642B73;
  --color-secondary: #C6426E;
}

.purple-text {
  color: var(--color-primary);
}

.pink-text {
    color: var(--color-secondary);
}

.white-text{
    color: white;
}

.oswald {
    font-family: 'Oswald', sans-serif;
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
}

.banner h1 {
    font-size: 2.5rem;
}

h1.oswald {
  text-transform: uppercase;
  margin-top: 0px; 
}

h2.typewriter {
    display: inline-block;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid var(--color-primary); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

h3.montserrat {
    letter-spacing: .10rem;
    margin: 0px 0px 5px;
}

@keyframes typing {
    from { width: 0 }
    to { width: calc(50% - 30px); }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.w-100 {
    width:  100%;
}

.h-100 {
    height: 100%
}

.h100vh {
    height: 100vh;
}

.is-vcentered {
    display: flex;
    align-items: center;
}

.is-vhcentered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.is-absolute {
    position: absolute;
}

.is-relative {
    position: relative;
}

.h80vh {
    height: 80vh;
}

.h60vh {
    height: 60vh;
    top: 0%;
}

.d-none {
    display: none;
}

.m-0 {
    margin: 0px;
}

.mt-2 {
    margin-top: 20px;
}

.bg-gradient {
    background: -webkit-linear-gradient(150deg, #C6426E, #642B73);
    opacity: 75%;
}

.bg-light {
    background-color: #F6F6F6;
}

.px-5 {
    padding: 0px 50px;
}

.py-5 {
    padding: 50px 0px;
}

.btn {
    width: 200px;
    height: 45px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: #fff;
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btn:hover {
  background-color: #fff;
  box-shadow: 0px 15px 20px #d8d8d8;
  color: #000;
  transform: translateY(-5px);
}

a {
    color: white;
    text-decoration: none;
}

body {
    background: #F6F6F6;
}

.grid-container {
  display: grid;
  background-color: transparent;
}

.banner .grid-container {
    grid-template-columns: 8% 47% 45%;
}

.about-me .grid-container {
  grid-template-columns: 30% 40% 30%;
  padding: 100px 0px;
  width: 80%;
  margin: 0 auto;
}

.portfolio .grid-container {
    grid-template-columns: 25% 25% 25% 25%;
    padding: 10px;
}

.portfolio .grid-container .grid-item {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.reference .grid-container {
  grid-template-columns: 30% 35% 35%;
  width: 80%;
  left: 10%;
  bottom: 20%;
}

.more-info .grid-container {
    grid-template-columns: 50% 50%;
    width: 70%;
    margin: auto;
}

.banner .text-content {
    padding-right: 70px;
}

.about-me .progress {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: -webkit-right;
}

.about-me .progress p {
    margin: 0px 0px 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.about-me .skills .is-vcentered {
    margin: 10px 0px;
}

.work-experience .card {
    width: 80%;
    top: 8%;
    margin: auto;
    right: 10%;
}

.work-experience .row {
    display: flex;
}

.work-experience .column {
    width: 50%;
}

.work-experience li {
    font-size: 14px;
}

.reference img {
    height: 120px;
    margin: 10px 0px 20px;
    width: 120px;
    border-radius: 50%;
}

.reference .card {
    width: 90%;
}

.reference .title-column {
    padding: 0px 30px 30px;
    text-align: right;
    margin-bottom: 20px;
}

.reference p {
     margin: 5px 0px;
}

.reference .title {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.reference .bg-image {
    height: 50%;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.reference .content {
    right: 10%;
    width: 50%;
}

.reference .card-content {
    padding: 60px 40px;
}

.more-info .image-holder {
    height: 400px;
}

.more-info img.main {
    z-index: 1;
    left: 35%;
    height: 350px;
}

.more-info img.stripe {
    top: -2%;
    left: 48%;
    height: 325px;
}

.more-info img.oval {
    left: 32%;
    top: 13%;
    height: 300px;
}

.more-info p {
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-left: 3px solid var(--color-secondary);
    background: white;
}

.more-info p:hover {
    border-left: 3px solid var(--color-primary);
}

footer {
    height: 5vh;
}

footer .column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}

footer p {
    font-size: 13px;
    color: white;
}

@media only screen and (max-width: 2560px) {
    @keyframes typing {
      from { width: 0 }
      to { width: calc(40% - 30px); }
    }
}


@media only screen and (max-width: 1600px) and (min-width: 1400px) {
    @keyframes typing {
      from { width: 0 }
      to { width: calc(50% - 30px); }
    }
}

@media only screen and (max-width: 1400px) {
    @keyframes typing {
        from { width: 0 }
        to { width: calc(60% - 30px); }
    }
}


@media only screen and (max-width: 780px) {
    .banner .grid-container {
        grid-template-columns: 0% 100% 100%;
        text-align: center;
    }
    
    .banner .content-column {
        position: absolute;
        height: 80%;
        left: 5%;
        top: 10%;
        margin: auto 0;
        width: 90%;
        z-index: 1;
        background: white;
    }

    .banner .text-content {
        padding: 0px 30px;
    }

    @keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }

    @keyframes blink-caret {
      from, to { border-color: transparent }
      50% { border-color: orange; }
    }

        /* Safari 6.1+ */
    div.skills   {-webkit-order: 3;}
    div.progress  {-webkit-order: 2;}
    div.description {-webkit-order: 1;}

    /* Standard syntax */
    div.skills   {order: 3;}
    div.progress  {order: 2;}
    div.description {order: 1;}
    
    .about-me {
        height: 100%;
    }

    .about-me .grid-container {
      grid-template-columns: none;
      padding: 0px;
      width: 90%;
      margin: 0 auto;
    }

    .about-me .progress {
       justify-content: center;
       text-align: center;
       padding: 0px; 
    }

    .about-me .skills div {
        width: 85%;
    }

    .about-me .skills .is-vcentered {
        margin: auto;
    }
    
    .work-experience.h100vh {
        height: 1000px;
    }

    .work-experience .card {
        width: 90%;
        top: 5%;
        margin: auto;
        right: 5%;
    }

    .work-experience .container {
        padding: 25px;
    }

    .work-experience .row {
        display: block;
    }

    .work-experience .column  {
        width: 100%;
    }

    .portfolio {
        height: 100%;
    }

    .portfolio .grid-container {
        grid-template-columns: none;
        padding: 50px 0px 0px;
    }

    .portfolio .overlay {
        display: none;
    }
    
    .reference .grid-container {
        grid-template-columns: none;
        position: relative;
        width: 90%;
        bottom: 0%;
        left: 5%;
    }

    .reference .bg-image {
        height: 100%;
    }

    .reference .title-column {
        padding: 0px;
        margin: 0px;
        text-align: center;
    }

    .reference .card-content {
        padding: 30px 20px;
    }

    .reference img {
        height: 60px;
        width: 60px;
        margin: 0px;
    }

    .reference p {
        font-size: 14px;
    }

    .reference h1 {
        margin: 30px 0px;
    }

    .more-info .grid-container {
      grid-template-columns: 100% 100%;
      display: block;
      width: 80%;
    }
    
    .more-info {
        height: 100%;
        padding-top: 50px;
    }

    .more-info .info-photo {
        justify-content: center;
    }

    .more-info img.main {
        left: 0px;
        height: 250px;
    }

    .more-info img.stripe {
        top: -2%;
        left: 20%;
        height: 225px;
    }
    
    .more-info .info-photo .image-holder {
        height: 100%;
       margin: 20px 0px;
    }

    .more-info h1 {
        text-align: center;
    }
    
    .more-info img.oval {
        left: 1%;
        top: 13%;
        height: 200px;
    }

    .h80vh, .h60vh {
        height: 100vh;
    }

    footer .column {
        display: block;
        text-align: center;
        padding: 3px;
    }
}

@media only screen and (max-width: 450px) {
    .work-experience.h100vh {
        height: 1200px;
    }
}

@media only screen and (max-width: 375px) {
    .work-experience.h100vh {
        height: 1300px;
    }
}

@media only screen and (max-width: 360px) {
    .reference .card {
        margin-top: 100px 0px;
    }
}

@media only screen and (max-width: 320px) {
    .banner .text-content {
        padding: 0px 10px;
    }  
    
    .banner .content-column {
        width: 100%;
        left: 0%;
    }

    .work-experience.h100vh {
        height: 1500px;
    }

    .reference .card-content {
        padding: 25px;
    }

    .more-info {
        margin-top: 50px;
    }
}


ul.dev {
    padding: 0px 20px;
}

ul.links {
    padding: 0px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    margin-right: 5px;
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 30px;
}


.skills img {
    height: 60px;
    margin-right: 10px;
}

.skills p {
    font-size: 14px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background: white;
  transition: 0.3s;
}

.card-content {
    background: white;
    padding: 50px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 50px;
}

.image {
  display: block;
  width: 100%;
  height: 200px;
}

.overlay {
  position: absolute;
  top: 0%;
  left: 0;
  right: 0;
  background: -webkit-linear-gradient(150deg, #C6426E, #642B73);
  opacity: 90%;
  overflow: hidden;
  width: 100%;
  height:100%;
  transition: .5s ease;
}

.portfolio .grid-item:hover .overlay {
  top: 0;
  height: 0%;
}

progress[value] {
  -webkit-appearance: none;
   appearance: none;
  width: 300px;
  height: 10px;
  margin-bottom: 25px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    background: -webkit-linear-gradient(150deg, #C6426E, #642B73);    
    border-radius: 10px; 
    background-size: cover;
}


